:host {
  display: flex;
  justify-content: center;
  align-items: center;

  * {
    user-select: none;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
  }

  .container {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgb(223, 227, 235) 0 0 1.5rem 0.4rem;

    .currency{
      margin-bottom: 20px;
    }
  }
}
