:host {

  * {
    user-select: none;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
  }

  header {
    background: linear-gradient(90deg, rgb(0, 4, 40) 0%, rgb(0, 52, 109) 100%);
    height: 60px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .item {
    width: 200px;
    height: 200px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgb(223, 227, 235) 0 0 1.5rem 0.4rem;
    margin: 10px;


    .price {
      margin-bottom: 20px;
      color: rgb(53, 63, 82);
      font-weight: 600;
      font-size: 1rem;
      text-transform: uppercase;
    }

    .price-number {
      color: rgb(53, 63, 82);
      opacity: 0.5;
      font-weight: 400;
      font-size: 1.1rem;

      &.change{
        color: red;
      }
    }
  }
}
